{% load staticfiles %}
<!--DOCTYPE html -->
<html>

<head>
  <title>{% block head_title %}Instagram Clone{% endblock head_title %}</title>
  
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->

  <link rel='stylesheet' href='{% static "css/base.css" %}'/>


</head>

<body>
<div class="container">
  <div class="row profile">

  {% block sidebar %}
  {% endblock sidebar %}

  <!--CONTENT -->
  <div class="col-md-9">
      <div class="profile-content">
        {% block content %}{% endblock content %}
      </div>
    </div>

    
  </div>
</div>

</body>

</html>