{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block sidebar %}
<!-- SIDEBAR -->
<div class="col-md-3">
    <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            {% if prof_instance.prof_pic %}
            <img src='{{ prof_instance.prof_pic.url }}' class='img-responsive'/>
            {% else %}
            <img src='{% static "images/default_pic.jpg" %}' class='img-responsive'/>
            {% endif %}
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                {{ user.first_name }} {{ user.last_name }}
            </div>
            <div class="profile-usertitle-job">
                @{{ user.username }}
            </div>
            <div class="profile-usertitle-job">
                {{ prof_instance.bio }}
            </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR BUTTONS -->
        <div class="profile-userbuttons">
            <a class="btn btn-danger btn-sm" href='{% url "posts:edit_profile" %}'>Edit Profile</a>
        </div>
        <!-- END SIDEBAR BUTTONS -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
            <ul class="nav">
                <li class="active">
                    <a href="{% url 'posts:list' %}">
                    <i class="glyphicon glyphicon-home"></i>
                    Overview </a>
                </li>
                <li>
                    <a href="{% url 'posts:profile' %}">
                    <i class="glyphicon glyphicon-user"></i>
                    Profile </a>
                </li>
                <li>
                    <a href="{% url 'posts:create' %}">
                    <i class="glyphicon glyphicon-pencil"></i>
                    Add Post </a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                    <i class="glyphicon glyphicon-log-out"></i>
                    Log Out </a>
                </li>

                <br><br>
                <li>
                    <a href="" class="disabled">
                    <i class="glyphicon glyphicon-list"></i>
                    Users </a>
                </li>
                <li>
                    {% for profile in users %}
                    <a href="{% url 'posts:profile_with_user' user=profile.username %}">
                    <i class="glyphicon glyphicon-user"></i>
                    {{ profile.username }}</a>
                    {% endfor %}
                </li>
            </ul>

        </div>
        <!-- END MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
{% endblock sidebar %}



{% block content %}


<blockquote class="blockquote">
    <h1>Confirm Delete</h1>
    <form method="POST" action=".">{% csrf_token %}
        <p>Are you sure you want to delete: "{{ instance.content }}"?</p>
        <input type='submit' value='Confirm' class='btn btn-warning'>

        <a href='{{ instance.content_object.get_absolute_url }}' type='submit' class='btn btn-default'>Cancel</a>

    </form>

</blockquote>
<hr/>

    
{% endblock content %}