{% extends "base.html" %}
{% load staticfiles %}



{% block content %}



<form method='GET' action=''>
    <input type='text' name='q' placeholder="Search posts" value='{{ request.GET.q  }}'/>
    <input type='submit' value='Search' />
</form>

{% if error %}
<div class="alert alert-danger" role="alert">
Search not found! Please search again!
</div>
{% endif %}

{% for object in object_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      {% if object.image %}
      <img src='{{ object.image.url }}' class='img-responsive'/>
      {% endif %}
      <!-- <img src="..." alt="..."> -->
      <div class="caption">
        <p>Author: @{{ object.author }}</p>
        <p>Posted on: {{ object.updated }}</p>
        <p>{{ object.content|linebreaks|truncatechars:120 }}</p>
        <p><a href="{{ object.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
<hr/>
</div>
{% empty %}
<div class="alert alert-danger" role="alert">
    Search not found! Please search again!
</div>

{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>
</div>

{% endblock content %}