{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
<div class='row'>
    {% for profile in prof_instance.followers.all %}
    <div class='col-sm-4 text-center'>
        <div class='align-center'>
            {% if profile.user.prof_pic %}
            <img src='{{ profile.user.prof_pic.url }}' class='img-responsive img-circle' height='100' width='100' style='margin: 0 auto;'/>
            {% else %}
            <img src='{% static "images/default_pic.jpg" %}' class='img-responsive img-circle' height='100' width='130' style='margin: 0 auto;'/>
            {% endif %}
        </div>
        <div class="profile-usertitle-name">
            {{ profile.first_name }} {{ profile.last_name }}
        </div>
        <div class="profile-usertitle-job">
            <a href='{% url "posts:profile_with_user" id=profile.id %}'>@{{ profile }}</a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}